.markerFormContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.markerTextInput {
  width: 40%;
}

.markerBtn {
  width: 10%;
}

.settingsContainer {
  display: flex !important;
  align-items: center; 
}

.line {
  background-color: black;
  height: 1px;
  width: 90%;
}

.settingsButtons {
  width: 10% !important;
  display: flex !important;
  justify-content: space-around;
}

.settingsBtn {
  color: #576965 !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-weight: 400 !important;
}

@media screen and (max-width: 400px) {
  .line {
    width: 80%;
  }
}